
/* Підключаємо  локальні шрифти*/
@import url(fonts.css);

/* Підключаємо  css  файл скидання стилів*/
@import url(reset.css);
body{
  font-family: "Proxima Nova", sans-serif;
}
.wrapper{
  overflow: clip;
  min-height: 100%;
  background-image: url("../img/2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.car-wrapper{
  position: absolute;
  top: 60%;
  right: 18%;
  transform: translateX(1000px);
  animation-name: translate;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 7s;
}
.car-wrapper:hover{
  animation-play-state: paused;
}
.car-wrapper:hover  .wheel__disk{
  animation-play-state: paused;
}
.flashers{
  position: absolute;
  top: 1%;
  left: 1%;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: black;
  margin: 0 auto;
}
.flashers::before{
  content: "";
  margin-left: 30px;
  width: 40px;
  height: 30px;
  background-color: red;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
 }
 .flashers::after{
  position: absolute;
  top: 0;
  left: -200%;
  content: "";
  margin-left: 30px;
  width: 40px;
  height: 30px;
  background-color: blue;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
 }
 .car-front{
  position: absolute;
  top: 98%;
  left: -733%;
  width: 238px;
  height: 100px;
  background-color: #fff;
  border-top-left-radius: 100%;
  border: 7px solid black;
  z-index: 2;
 }
 .car-front__window{
  background-color: #5d73cd;
  position: absolute;
  top: 147%;
  left: -660%;
  width: 204px;
  height: 74px;
  border-top-left-radius: 100%;
  z-index: 2;
  border: 3px solid black;
  z-index: 2;
 }
 .car-front-back{
  position: absolute;
  top: 98%;
  left: 60%;
  width: 158px;
  height: 100px;
  background-color: #fff;
  border-top-right-radius: 100%;
  border: 7px solid black;
  z-index: 2;
 }
 .car-front-back__window{
  position: absolute;
  top: 147%;
  left: 100%;
  width: 127px;
  height: 71px;
  background-color: #5d73cd;
  border-top-right-radius: 100%;
  border: 3px solid black;
  z-index: 2;
}
.bonnet{
  position: absolute;
  top: 404%;
  right: 255%;
  width: 500px;
  height: 100px;
  background-color: black;
  border-top-left-radius: 100%;
  z-index: 1
 }
.trunk{
  position: absolute;
  top: 394%;
  left: -156%;
  width: 320px;
  height: 103px;
  background-color: black;
  border-top-right-radius: 67%;
  z-index: 1;
 }
 .wheel{
  position: absolute;
  left: 56px;
  top: 159px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: black;
  border: 5px dashed black;
  z-index: 3;
  box-shadow: inset -5px -10px 40px #348c98, inset 10px 5px 30px black;
 }
 .wheel-1{
  position: absolute;
  right: 212px;
  top: 155px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: black;
  border: 5px dashed black;
  z-index: 9;
  box-shadow: inset -5px -10px 40px #348c98, inset 10px 5px 30px black;
 }
 .wheel__bolt{
  position: absolute;
  top: 40%;
  left: 41%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(207, 58, 190, 0.567);
 }
 .wheel__disk{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 20px dashed gold;
  position: absolute;
  top: 10%;
  left: 10%;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
 }
 .front-fara{
  position: absolute;
  top: 500%;
  right: 1664%;
  height: 40px;
  width: 40px;
  border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
  background-color: yellow;
  z-index: 9;
  border-right: 2px solid black;
 }
 .back-fara{
  position: absolute;
  top: 580%;
  left: 837%;
  height: 40px;
  width: 40px;
  border-radius: 0% 100% 100% 0% / 45% 49% 51% 55%;
  background-color: red;
  z-index: 4;
 }
 .car-text{
  z-index: 5;
  font-size: 50px;
  width: 500px;
  height: 100px;
  color: #fff;
  position: absolute;
  top: 466%;
  left: -547%
 }
 .car-mirror{
  position: absolute;
  top: 326%;
  left: -719%;
  width: 60px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  transform: skewX(-50deg) rotate(20deg);
  border-bottom: 5px solid black;
  border-right: 2px solid black;
  z-index: 5;
 }
 .dor-handle{
  position: absolute;
  top: 431%;
  left: -33%;
  width: 20px;
  height: 5px;
  border: 1px solid white;
  z-index: 6;
  background-color: blueviolet;
 }
 .dor-handle__back{
  position: absolute;
  top: 431%;
  left: 92%;
  width: 20px;
  height: 5px;
  border: 1px solid white;
  z-index: 6;
  background-color: blueviolet;
 }
 .frame{
  position: absolute;
  top: 36px;
  left: 13px;
  height: 184px;
  width: 10px;
  background-color: black;
  z-index: 6;
  border: 1px solid #fff;
  border-bottom: none;
  border-top: none;
 }
 .frame__front{
  position: absolute;
  top: 127px;
  right: 237px;
  height: 53px;
  width: 10px;
  background-color: black;
  z-index: 6;
  border: 1px solid #fff;
  border-bottom: none;
  border-top: none;
 }
 .namber__car{
  position: absolute;
  top: 630%;
  left: 566%;
  height: 20px;
  width: 80px;
  z-index: 7;
  color: #ffff;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 15px;
}
.faer{
  height: 57px;
  width: 168px;
  background: url(../img/faer.jpg);
  background-size: contain;
  position: absolute;
  top: 547%;
  left: -1427%;
  z-index: 8;
}
.bandit{
  z-index: 9;
  position: absolute;
  top: 39%;
  right: -10%;
  transform: translateX(1000px);
  animation-name: translate;
  animation-duration: 7s;
  animation-timing-function: linear;
}
@keyframes translate{
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(-2000px)
  }
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
@keyframes rotate-bandit{
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(-2000px)
  }
}

 
 
 
 
 
