@charset "UTF-8";
/* Підключаємо  локальні шрифти*/
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo-2";
  src: url("../fonts/Exo2-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Підключаємо  css  файл скидання стилів*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  background-color: #000;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 81.375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.header {
  padding: 3.75rem 0 1.875rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
}
@media (max-width: 61.99875em) {
  .header {
    padding: 2.5rem 0 1.875rem 0;
  }
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.menu-header__logo {
  padding: 0.625rem;
}
@media (max-width: 29.99875em) {
  .menu-header__logo {
    -ms-flex-preferred-size: 155px;
        flex-basis: 155px;
  }
  .menu-header__logo__img {
    width: 100%;
  }
}
@media (max-width: 61.99875em) {
  .menu-header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    visibility: hidden;
    padding: 6.875rem 1.25rem 1.875rem;
    overflow-y: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(0.625rem);
            backdrop-filter: blur(0.625rem);
    opacity: 1;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  row-gap: 0.625rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 74.99875em) {
  .menu-header__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (max-width: 61.99875em) {
  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
    height: 50%;
  }
}
@media (max-width: 61.99875em) {
  .menu-header__item {
    width: 100%;
  }
}
.menu-header__link {
  padding: 0.625rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  line-height: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu-header__link:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #6f00a9;
  }
}
@media (max-width: 61.99875em) {
  .menu-header__link {
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
  }
}
@media (max-width: 61.99875em) {
  .social {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.1875rem;
     -moz-column-gap: 1.1875rem;
          column-gap: 1.1875rem;
}
@media (max-width: 74.99875em) {
  .social__list {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
  }
}
.social__item {
  padding: 0.625rem;
}
.social__link {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 61.99875em) {
  .menu-icon {
    display: block;
    position: relative;
    height: 18px;
    width: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 50;
  }
  .menu-icon::before, .menu-icon::after, .menu-icon span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #fff;
  }
  .menu-icon::before {
    top: 0;
  }
  .menu-icon::after {
    bottom: 0;
  }
  .menu-icon span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  .menu-open .menu-icon::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .menu-icon::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .menu-open .menu-icon span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.menu-open .menu-header__nav {
  right: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.page {
  padding-top: 7.5rem;
}

.hero__container::before, .hero__container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 480px;
  height: 480px;
  background: -webkit-gradient(linear, left top, right top, from(hsla(276, 100%, 50%, 0.6)), color-stop(36.9%, hsla(104, 100%, 55%, 0.6)), color-stop(67.4%, hsla(0, 100%, 50%, 0.6)), to(hsla(227, 100%, 50%, 0.6)));
  background: linear-gradient(90deg, hsla(276, 100%, 50%, 0.6) 0%, hsla(104, 100%, 55%, 0.6) 36.9%, hsla(0, 100%, 50%, 0.6) 67.4%, hsla(227, 100%, 50%, 0.6) 100%);
  opacity: 0.3;
  -webkit-filter: blur(2.5rem);
          filter: blur(2.5rem);
}
@media (max-width: 47.99875em) {
  .hero__container::before, .hero__container::after {
    display: none;
  }
}
.hero__container::before {
  -webkit-animation: circular-motion-bottom 15s linear infinite;
          animation: circular-motion-bottom 15s linear infinite;
}
@-webkit-keyframes circular-motion-bottom {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-300%, 50%);
            transform: translate(-300%, 50%);
  }
  100% {
    -webkit-transform: translate(300%, 0%);
            transform: translate(300%, 0%);
  }
}
@keyframes circular-motion-bottom {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-300%, 50%);
            transform: translate(-300%, 50%);
  }
  100% {
    -webkit-transform: translate(300%, 0%);
            transform: translate(300%, 0%);
  }
}
.hero__container::after {
  -webkit-animation: circular-motion-top 15s linear infinite;
          animation: circular-motion-top 15s linear infinite;
}
@-webkit-keyframes circular-motion-top {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(300%, -50%);
            transform: translate(300%, -50%);
  }
  100% {
    -webkit-transform: translate(-300%, 0%);
            transform: translate(-300%, 0%);
  }
}
@keyframes circular-motion-top {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(300%, -50%);
            transform: translate(300%, -50%);
  }
  100% {
    -webkit-transform: translate(-300%, 0%);
            transform: translate(-300%, 0%);
  }
}
.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.hero__contant-media {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
}

.hero--margin {
  padding-top: 7.5rem;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
@media (max-width: 47.99875em) {
  .hero--margin {
    padding-top: 3.125rem;
    padding-bottom: 10px;
  }
}
@media (max-width: 29.99875em) {
  .hero--margin {
    padding-top: 1.4375rem;
  }
}

.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.25rem;
}
@media (max-width: 29.99875em) {
  .content-hero {
    gap: 0.75rem;
  }
}
.content-hero__name {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.25rem;
  letter-spacing: -0.0625rem;
}
.content-hero__name::after {
  content: "";
  display: block;
  margin-top: 0.625rem;
  height: 0.0625rem;
  max-width: 9.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(51%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 51%, rgb(36, 0, 255) 100%);
}
@media (min-width: 83.25em) {
  .content-hero__title {
    font-size: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 2rem , 1.0513833992rem  +  4.743083004vw , 5rem )) {
    .content-hero__title {
      font-size: clamp( 2rem , 1.0513833992rem  +  4.743083004vw , 5rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.0513833992rem  +  4.743083004vw , 5rem )) {
    .content-hero__title {
      font-size: calc(2rem + 3 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .content-hero__title {
    font-size: 2rem;
  }
}
.content-hero__button {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .content-hero__button:hover {
    background-color: #0b0045;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.title {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  line-height: 4.375rem;
  text-transform: uppercase;
}
@media (max-width: 29.99875em) {
  .title {
    line-height: 2.1875rem;
  }
}

.subtitle {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: -0.0625rem;
  text-transform: capitalize;
}
@media (min-width: 83.25em) {
  .subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 0.875rem , 0.7959486166rem  +  0.395256917vw , 1.125rem )) {
    .subtitle {
      font-size: clamp( 0.875rem , 0.7959486166rem  +  0.395256917vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7959486166rem  +  0.395256917vw , 1.125rem )) {
    .subtitle {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .subtitle {
    font-size: 0.875rem;
  }
}

.button {
  position: relative;
  z-index: 2;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding: 0.9375rem 3.75rem;
  background-color: #6f00a9;
  max-width: 15.8125rem;
}
@media (min-width: 83.25em) {
  .button {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 0.875rem , 0.7564229249rem  +  0.5928853755vw , 1.25rem )) {
    .button {
      font-size: clamp( 0.875rem , 0.7564229249rem  +  0.5928853755vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7564229249rem  +  0.5928853755vw , 1.25rem )) {
    .button {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .button {
    font-size: 0.875rem;
  }
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.media__photo-people {
  position: relative;
  z-index: 2;
}
.media__photo-people img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 377/508;
}
@media (max-width: 29.99875em) {
  .media__photo-people img {
    height: 16.25rem;
    width: 11.0625rem;
  }
}
.media__img-right {
  position: absolute;
  right: 15%;
  top: 15%;
  width: 7.125rem;
  height: 6.75rem;
}
@media (max-width: 47.99875em) {
  .media__img-right {
    top: 5%;
    width: 5.25rem;
    height: 5.125rem;
  }
}
@media (max-width: 29.99875em) {
  .media__img-right {
    display: none;
  }
}
.media__img-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.media__img-left {
  position: absolute;
  left: 0%;
  top: 5%;
  width: 27.3%;
}
@media (max-width: 47.99875em) {
  .media__img-left {
    left: 10%;
    top: 5%;
  }
}
@media (max-width: 29.99875em) {
  .media__img-left {
    display: none;
  }
}
.media__img-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.media__curent-left {
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 20%;
  height: 22.0625rem;
  width: 19.6875rem;
}
@media (max-width: 47.99875em) {
  .media__curent-left {
    width: 17.1875rem;
    height: 19.5625rem;
  }
}
@media (max-width: 29.99875em) {
  .media__curent-left {
    top: 10%;
    left: -15%;
    width: 12.8125rem;
    height: 13.3125rem;
  }
}
.media__curent-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.media__curent-right {
  z-index: 1;
  position: absolute;
  bottom: -5%;
  right: -10%;
  width: 20.0625rem;
}
.media__curent-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 47.99875em) {
  .media__curent-right {
    display: none;
  }
}

.about {
  background: url(../img/About.png) 0 0/cover no-repeat;
  padding-top: 8.125rem;
  padding-bottom: 7.5rem;
}
@media (max-width: 74.99875em) {
  .about {
    padding-top: 3.125rem;
  }
}
@media (max-width: 29.99875em) {
  .about {
    padding-bottom: 4.375rem;
  }
}
.about__container {
  overflow: hidden;
}
.about__container--adaptiv {
  display: none;
}
@media (max-width: 47.99875em) {
  .about__container--adaptiv {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 29.99875em) {
  .about__container--adaptiv {
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
}
.about__title {
  text-align: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 83.25em) {
  .about__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 1.5rem , 0.7885375494rem  +  3.557312253vw , 3.75rem )) {
    .about__title {
      font-size: clamp( 1.5rem , 0.7885375494rem  +  3.557312253vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.7885375494rem  +  3.557312253vw , 3.75rem )) {
    .about__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .about__title {
    font-size: 1.5rem;
  }
}
.about__title::after {
  content: "";
  width: 40%;
  margin: 0 auto;
  margin-top: 1.25rem;
  height: 0.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(51%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 51%, rgb(36, 0, 255) 100%);
  display: block;
}
.about__subtitle {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.75rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-family: "Exo", sans-serif;
}
@media (min-width: 83.25em) {
  .about__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 0.875rem , 0.7959486166rem  +  0.395256917vw , 1.125rem )) {
    .about__subtitle {
      font-size: clamp( 0.875rem , 0.7959486166rem  +  0.395256917vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7959486166rem  +  0.395256917vw , 1.125rem )) {
    .about__subtitle {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .about__subtitle {
    font-size: 0.875rem;
  }
}
@media (max-width: 29.99875em) {
  .about__subtitle {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 61.99875em) {
  .about__nav {
    margin-bottom: 3.125rem;
  }
}

.nav-about {
  overflow: hidden;
}
.nav-about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: movement-to-the-left 10s linear infinite;
          animation: movement-to-the-left 10s linear infinite;
}
@-webkit-keyframes movement-to-the-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes movement-to-the-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@media (any-hover: hover) {
  .nav-about__list:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
.nav-about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.nav-about__link {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  line-height: 1.5625rem;
  text-transform: capitalize;
}
@media (min-width: 83.25em) {
  .nav-about__link {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 0.875rem , 0.7564229249rem  +  0.5928853755vw , 1.25rem )) {
    .nav-about__link {
      font-size: clamp( 0.875rem , 0.7564229249rem  +  0.5928853755vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7564229249rem  +  0.5928853755vw , 1.25rem )) {
    .nav-about__link {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .nav-about__link {
    font-size: 0.875rem;
  }
}
.nav-about__link::after {
  content: "";
  width: 0.4375rem;
  height: 0.4375rem;
  margin-left: 3.125rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(51%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 51%, rgb(36, 0, 255) 100%);
  border-radius: 50%;
}

.portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(85.54%, rgba(0, 0, 0, 0.99))), url(../img/portfolio.png) 0 0/cover no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%), url(../img/portfolio.png) 0 0/cover no-repeat;
  padding-top: 13.125rem;
  padding-bottom: 12.5rem;
}
@media (max-width: 74.99875em) {
  .portfolio {
    padding-top: 0.625rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 83.25em) {
  .portfolio__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 1.5rem , 0.7885375494rem  +  3.557312253vw , 3.75rem )) {
    .portfolio__title {
      font-size: clamp( 1.5rem , 0.7885375494rem  +  3.557312253vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.7885375494rem  +  3.557312253vw , 3.75rem )) {
    .portfolio__title {
      font-size: calc(1.5rem + 2.25 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .portfolio__title {
    font-size: 1.5rem;
  }
}
.portfolio__title::after {
  content: "";
  width: 40%;
  margin-top: 1.25rem;
  height: 0.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 0, 0)), color-stop(51%, rgb(66, 255, 0)), to(rgb(36, 0, 255)));
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(66, 255, 0) 51%, rgb(36, 0, 255) 100%);
  display: block;
  margin-bottom: 3.75rem;
}
@media (max-width: 29.99875em) {
  .portfolio__title::after {
    margin-bottom: 0.625rem;
  }
}
.portfolio__arrow {
  margin-left: 100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  margin-bottom: 1.875rem;
  position: relative;
  display: block;
  overflow: hidden;
  width: 12.6875rem;
  height: 2.375rem;
}
@media (max-width: 29.99875em) {
  .portfolio__arrow {
    width: 6.4375rem;
    height: 2.375rem;
  }
}
.portfolio__arrow img {
  -webkit-animation: arrow-animation 5s linear infinite;
          animation: arrow-animation 5s linear infinite;
}
@-webkit-keyframes arrow-animation {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}
@keyframes arrow-animation {
  0% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}
.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  overflow-x: auto;
  padding-bottom: 1.5625rem;
}
.portfolio__items::-webkit-scrollbar {
  height: 0.5rem;
  background-color: #000;
}
.portfolio__items::-webkit-scrollbar-thumb {
  background-color: #6f00a9;
}
.portfolio__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.item-portfolio {
  max-width: 22.5rem;
}
.item-portfolio__picture {
  display: block;
  position: relative;
  overflow: hidden;
  outline: none;
}
.item-portfolio__picture:not(:last-child) {
  margin-bottom: 2.5rem;
}
.item-portfolio__picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.625rem solid transparent;
  -webkit-transition: border-color 0.4s, background-color 0.4s;
  transition: border-color 0.4s, background-color 0.4s;
}
@media (any-hover: hover) {
  .item-portfolio__picture:hover::before {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #9700ff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.item-portfolio__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.item-portfolio__icon {
  position: absolute;
  width: 27.77%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}
@media (max-width: 29.99875em) {
  .item-portfolio__icon img {
    width: 5rem;
    height: 5rem;
  }
}
.item-portfolio__text {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  padding: 0 0.9375rem;
  z-index: 2;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-transition: top 0.4s, color 0.4s;
  transition: top 0.4s, color 0.4s;
}
@media (any-hover: hover) {
  .item-portfolio__picture:hover .item-portfolio__text {
    top: 63%;
    color: white;
  }
  .item-portfolio__picture:hover .item-portfolio__icon {
    top: 43%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
.item-portfolio__lebel {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 83.25em) {
  .item-portfolio__lebel {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 83.25em) {
  @supports (font-size: clamp( 0.875rem , 0.3611660079rem  +  2.5691699605vw , 2.5rem )) {
    .item-portfolio__lebel {
      font-size: clamp( 0.875rem , 0.3611660079rem  +  2.5691699605vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.3611660079rem  +  2.5691699605vw , 2.5rem )) {
    .item-portfolio__lebel {
      font-size: calc(0.875rem + 1.625 * (100vw - 20rem) / 63.25);
    }
  }
}
@media (max-width: 20em) {
  .item-portfolio__lebel {
    font-size: 0.875rem;
  }
}

/*
body{
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  background-color: #000;
  color: #fff;
  overflow-y: auto;
  &::-webkit-scrollbar{
	width: 8px;
	background-color: #000;
}
&::-webkit-scrollbar-thumb{
	background-color: #6F00A9;
}
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"]{
  max-width: 1302px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header{



}
.header {
	     padding-top: 60px;
		 padding-bottom: 30px;
		 position: fixed;
		 top: 0;
		 left: 0;
		 width: 100%;
		 background-color: rgba(0, 0, 0, 0.8);
		 z-index: 50;
		 @media (max-width: 991.98px) {
			padding-top: 40px;
		 }

		// .header__container

		&__container {

		}


		// .header__top

		&__top {
            display: flex;
            justify-content: space-between;
			column-gap: 20px; 
			@media (max-width: 1199.98px) {
				column-gap: 10px;
			}
		}

		// .header__logo

		&__logo {
			padding: 10px;
			@media (max-width: 479.98px) {
				flex-basis: 155px;
				& img{
					width: 100%;
				}
			}

		}

		// .header__menu

		&__menu {
		}

		// .header__social

		&__social {
		}
}

.menu {
	@media (max-width: 991.98px) {
		position: fixed;
	    top: 0;
	    right: 0;
	    width: 55%;
	    height: 100%;
	    visibility: hidden;
	    padding: 110px 20px 30px;
	    overflow-y: auto;
	    transition: all 0.4s;
	    background-color: rgba(0, 0, 0, 0.8);
	    backdrop-filter: blur(10px);
	    opacity: 0;
	}


		// .menu__nav

		&__nav {
		}

		// .menu__list

		&__list {
            display: flex;
			column-gap: 60px;
			@media (max-width: 1199.98px) {
				column-gap: 20px;
			}
			@media (max-width: 991.98px) {
				flex-direction: column;
		        align-items: flex-end;

			}
		}

		// .menu__item

		&__item:not(:last-child) {
			margin-bottom: 25px;
		}

		&__item {
		}

		// .menu__link

		&__link {
			font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
			line-height: 20px;
			padding: 10px;
			transition: all 0.3s;
			&:hover{
				@media(any-hover){
					transition: all 0.3s;
					background-color: #6F00A9;
				}
				}

			@media (max-width: 991.98px) {
				font-size: 24px;
			}
		}
}

.menu-icon {
	@media (max-width: 991.98px) {
		align-self: center;
	}

}





.social {
	@media (max-width: 991.98px) {
		z-index: 10;
	}

		// .social__list

		&__list {
			display: flex;
			justify-content: space-between;
			column-gap: 19px;
			@media (max-width: 1199.98px) {
				column-gap: 5px;
			}


		}

		// .social__item

		&__item {
			padding: 10px;
		}

		// .social__link

		&__link {
			width: 20px;
			height: 20px;
			transition: all 0.3s;
		}


		// .social__link--fecebook

		&__link--fecebook {
			background: url(../img/facebook.svg) center no-repeat;
			&:hover{
				@media(any-hover){
					background: url(../img/facebook\ –\ fiolet.svg) center no-repeat;
					transition: all 0.3s;
				}
			}

		}

		// .social__link--linkedin

		&__link--linkedin {
			background: url(../img/linkedin.svg) center no-repeat;
			&:hover{
				@media(any-hover){
					background: url(../img/linkedin\ –\ fiolet.svg) center no-repeat;
					transition: all 0.3s;
				}
			}
		}

		// .social__link--youtube

		&__link--youtube {
			background: url(../img/youtube.svg) center no-repeat;
			&:hover{
				@media(any-hover){
					background: url(../img/youtube\ –red.svg) center no-repeat;
					transition: all 0.3s;
				}
			}
		}

}




.page {
	padding-top: 120px;
}

.hero {

		// .hero__container

		&__container {

			&::after{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 480px;
				height: 480px;
				background: linear-gradient(90deg, hsla(276, 100%, 50%, 0.6) 0%, hsla(104, 100%, 55%, 0.6) 36.9%, hsla(0, 100%, 50%, 0.6) 67.4%, hsla(227, 100%, 50%, 0.6) 100%);
				opacity: 0.3;
				filter: blur(40px);
				animation: circular-motion-top 15s linear infinite;
				@keyframes circular-motion-top {
					0% {
						transform: translate(0,0);
					}
					50% {
						transform: translate(300%,-50%);
					}
					100% {
						transform: translate(-300%,0%);
					}
				}
				@media (max-width: 767.98px) {
					display: none;
				}
			}
			&::before{
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				width: 480px;
				height: 480px;
				background: linear-gradient(90deg, hsla(276, 100%, 50%, 0.6) 0%, hsla(104, 100%, 55%, 0.6) 36.9%, hsla(0, 100%, 50%, 0.6) 67.4%, hsla(227, 100%, 50%, 0.6) 100%);
				opacity: 0.3;
				filter: blur(40px);
				animation: circular-motion-bottom 15s linear infinite;
				@keyframes circular-motion-bottom {
					0% {
						transform: translate(0,0);
					}
					50% {
						transform: translate(-300%,50%);
					}
					100% {
						transform: translate(300%,0%);
					}

				}
				@media (max-width: 767.98px) {
					display: none;
				}
			}
		}

		// .hero__wrap

		&__wrap {
			display: flex;
			column-gap: 20px;
			justify-content: space-between;

		}

		// .hero__content

		&__content {
			flex: 1 1 50%;
			@media (max-width: 767.98px) {
				gap: 0px;
			}

		}
}
.hero--margin {
	padding-top: 120px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	@media (max-width: 767.98px) {
		padding-top: 50px;
		padding-bottom: 10px;
	}

}
.content-hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 20px;
	@media (max-width: 479.98px) {
		gap: 1px;
	}
		// .content-hero__name

		&__name {
			font-family: "Exo", sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 20px;
			letter-spacing: -1px;
		}
		&__name::after{
			content: "";
			display: block;
			margin-top: 10px;
			height: 1px;
			max-width: 152px;
			background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
		}

		// .content-hero__title

		&__title {
			font-size: 80px;
			@include adaptiveValue("font-size", 80, 32);
			@media (max-width: 479.98px) {
				line-height: 35px;
			}
		}

		// .content-hero__subtitle

		&__subtitle {
		}

		// .content-hero__button

		&__button {
			 cursor: pointer;
			 transition: all 01s;
			 &:hover{
				@media(any-hover:hover){
					background-color:#0b0045;
					cursor: pointer;
					transition: all 01s;

				}
				}


		}

		// .content-hero__media


}
.hero__contant-media {
	flex: 1 1 50%;
	position: relative;
}
.title {
	font-family: "Exo", sans-serif;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;
}
.subtitle {
	font-family: "Exo", sans-serif;
	font-weight: 400;
	line-height: 40px;
	letter-spacing: -1px;
	font-size: 18px;
	text-transform: capitalize;
	@include adaptiveValue("font-size", 18, 14);

}
.button {
	font-family: "Orbitron", sans-serif;
	font-weight: 900;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 20px;
	padding: 15px 60px;
	background-color: #6F00A9;
	max-width: 253px;
	@include adaptiveValue("font-size", 20, 14);


}
.media {
	display: flex;
	justify-content: center;

		// .media__photo-people

		&__photo-people {
			position: relative;
			z-index: 2;
			@media (max-width: 479.98px) {
				width: 30%;
				margin: 0 auto;
				& img{
					width: 100%;
				}
			}
			@media (max-width: 767.98px){
				width: 50%;
		        margin: 0 auto;
		        padding: 20px 0px;
				&::after{
					content: "";
			     position: absolute;
			     left: 0;
			     top: 0;
			     width: 280px;
			     height: 280px;
			     background: linear-gradient(90deg, hsla(276, 100%, 50%, 0.6) 0%, hsla(104, 100%, 55%, 0.6) 36.9%, hsla(0, 100%, 50%, 0.6) 67.4%, hsla(227, 100%, 50%, 0.6) 100%);
			     opacity: 0.3;
			     filter: blur(40px);
			     animation: circular-motion-top 10s linear infinite;
			@keyframes circular-motion-top {
				0% {
					transform: translate(0,0);
				}
				50% {
					transform: translate(100%,-25%);
				}
				100% {
					transform: translate(-100%,0%);
				}
			}
				}
				&::before{
					content: "";
			     position: absolute;
			     right: 0;
			     bottom: 0;
			     width: 280px;
			     height: 280px;
			     background: linear-gradient(90deg, hsla(276, 100%, 50%, 0.6) 0%, hsla(104, 100%, 55%, 0.6) 36.9%, hsla(0, 100%, 50%, 0.6) 67.4%, hsla(227, 100%, 50%, 0.6) 100%);
			     opacity: 0.3;
			     filter: blur(40px);
			     animation: circular-motion-bottom 15s linear infinite;
			@keyframes circular-motion-bottom {
				0% {
					transform: translate(0,0);
				}
				50% {
					transform: translate(-100%,25%);
				}
				100% {
					transform: translate(100%,0%);
				}

			}
				}
			}

		}

		// .media__img-right

		&__img-right {
			position: absolute;
			right: 10%;
			top: 15%;
			img{
				width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
				object-fit: contain;
			}
			@media (max-width: 767.98px) {
				right: auto;
                left: 50%;
                top: 17px;
                width: 18.3486238532%;
                transform: rotate(18deg);
			}
		}

		// .media__img-left

		&__img-left {
			position: absolute;
			left: 0%;
			top: 5%;
			img{
				width: 100%;
                height: 100%;
                aspect-ratio: 1 / 1;
				object-fit: contain;
			}
			@media (max-width: 767.98px) {
				width: 25.6880733945%;
                left: 20%;
                transform: rotate(-15deg);
			}
		}

		// .media__curent-left

		&__curent-left {
			position: absolute;
			bottom: -5%;
			left:-10%;
			img{
				width: 100%;
                height: 100%;
                aspect-ratio: 315 / 377;
                object-fit: contain;
			}
			@media (max-width: 767.98px) {
				left: 45%;
			}
		}

		// .media__curent-right

		&__curent-right {
			position: absolute;
			bottom: -5%;
			right: -10%;
			img{
				width: 100%;
                height: 100%;
                aspect-ratio: 315 / 377;
                object-fit: contain;
			}
			@media (max-width: 767.98px) {
				display: none;
			}
		}
}

.about {
	background: url(../img/About.png) 0 0 / cover no-repeat;
	padding-top: 130px;
	padding-bottom: 120px;
	@media (max-width: 767.98px) {
		background: #000;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	// .about__container

	&__container {
		overflow: hidden;
	max-width: 1302px;
  padding-left: 15px;
  padding-right: 15px;
	}

	// .about__title

	&__title {
		font-size: 60px;
		text-align: center;
		margin-bottom: 20px;
		@include adaptiveValue("font-size", 60, 24);
		&::after{
			content: "";
			width: 40%;
            margin: 0 auto;
            margin-top: 20px;
            height: 1px;
            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
            display: block;
		}
	}

	// .about__subtitle

	&__subtitle {
		width: 75%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 60px;
		@include adaptiveValue("font-size", 18, 14);
	}

	// .about__nav

	&__nav {
	}
}
.title {
	@media (max-width: 767.98px) {
		line-height: 55px;
	}
}
.subtitle {
}
.nav-about {
	overflow: hidden;

	// .nav-about__list

	&__list {
		display: flex;
		gap: 60px;
		margin: 0 auto;
		justify-content: center;
		animation: movement-to-the-left 10s linear infinite;
		@keyframes movement-to-the-left {
			0%{
				transform: translateX(100%);
			}

	    }
		&:hover{
			@media(any-hover:hover){
				animation-play-state: paused;
			}
		}
	 }

	// .nav-about__item

	&__item {
		flex: 1 0 auto;

	}

	// .nav-about__link

	&__link {
		font-family: "Orbitron",sans-serif;
		font-weight: 500;
		font-size: 20px;
		line-height: 25px;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 20, 14);
		&::after{
			content: "";
			width: 7px;
			height: 7px;
			margin-left: 50px;
			background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
			border-radius: 50%;
		}
	}
}

.portfolio {
	background:linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.99) 85.54%), url(../img/portfolio.png) 0 0 / cover no-repeat;
	padding-top: 210px;
	padding-bottom: 200px;
	@media (max-width: 767.98px) {
		padding-top: 10px;
	}

	// .portfolio__container

	&__container {
	}

	// .portfolio__title

	&__title {
		font-size: 60px;
		@include adaptiveValue("font-size", 60, 24);
		&::after{
			content: "";
			width: 40%;
            margin-top: 20px;
            height: 1px;
            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
            display: block;
			margin-bottom: 60px;
		}
	}

	// .portfolio__arrow

	&__arrow {
		margin-left: 100%;
		transform: translate(-100%, 0);
        margin-bottom: 30px;
		position: relative;
        display: block;
		overflow: hidden;
		width: 203px;
        height: 38px;
		& img{
			animation: arrow-animation 5s linear infinite;
		}
		@keyframes arrow-animation {
			0%{
				transform: translate(-100%, 0);
			}
			50%{
				transform: translate(0, 0);
			}
			100%{
				transform: translate(100%, 0);
			}

		}
	}

		&__items {
			display: flex;
			column-gap: 40px;
			overflow-x: auto;
			padding-bottom: 25px;
			&::-webkit-scrollbar{
				height: 8px;
				background-color: #000;
			}
			&::-webkit-scrollbar-thumb{
				background-color: #6F00A9;
			}
		}

		// .portfolio__item

		&__item {
			flex-shrink: 0;
			@media (min-width: 1300px) {
				flex-basis: 360px;
			}
		}
}
.item-portfolio {
	max-width: 360px;

		// .item-portfolio__picture

		&__picture {
			display: block;
			position: relative;
			overflow: hidden;
			outline: none;
			&:not(:last-child){
				margin-bottom: 40px;
			}
			&::before{
				content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                border: 10px solid transparent;
                transition: border-color 0.4s, background-color 0.4s;

			}
			&:hover::before{
				@media(any-hover){
					background-color: rgba(0, 0, 0, 0.8);
                    border-color: #9700ff;
				}
			}
		}

		// .item-portfolio__img

		&__img {
			width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
		}

		// .item-portfolio__icon

		&__icon {
			position: absolute;
            width: 27.77%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            transition: top 0.4s;	
		}

		&__picture:hover &__icon{
			@media(any-hover:hover){
				top: 43%;
			}
		}
		// .item-portfolio__text

		&__text {
			position: absolute;
            top: 55%;
            left: 0;
            width: 100%;
            padding: 0 15px;
            z-index: 2;
            text-align: center;
            font-weight: 700;
            font-size: 40px;
            text-transform: uppercase;
            color: transparent;
            transition: top 0.4s, color 0.4s;
		}
		&__picture:hover &__text{
			@media(any-hover:hover){
				top: 63%;
				color: #ffff;
			}
		}

		// .item-portfolio__lebel

		&__lebel {
			text-align: center;
            font-weight: 700;
            text-transform: uppercase;
			font-size: 40px;
			@include adaptiveValue("font-size", 40, 14);
		}
}

//Перший брейкпойнт (PC):
@media (max-width: 1199.98px){}

//Другий (Tablet):

@media (max-width: 991.98px) {
	.menu-icon {
		display: block;
		position: relative;
		height: 18px;
		width: 30px;
		flex-shrink: 0;
		z-index: 2;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #fff;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		transform: translate(0px, -50%);
	}
	.menu-open .menu-icon::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .menu-icon::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
	.menu-open .menu-icon span {
		transform: scale(0);
	}
	.menu-open .menu{
		right: 0;
		opacity: 1;
		visibility: visible;
		transition: all 0.4s;
	}

}

//Третій (Mobile):
@media (max-width: 767.98px) {}

//Четвертий, додатковий (Mobile Small):
@media (max-width: 479.98px) {}

*/