
/* Підключаємо  локальні шрифти*/
@import url(fonts.css);

/* Підключаємо  css  файл скидання стилів*/
@import url(reset.css);

body{
  font-family: "Proxima Nova", sans-serif;
  color: #535353;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"]{
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.header {
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
/*Верхня частина header*/

.header-top {
}
.top-header {
  background-color: #f8f8f8;
	padding-top: 15px;
	padding-bottom: 15px;
}
.top-header__container {
  display: flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.top-header__menu {
}
.menu-top-header {
}
.menu-top-header__list {
  display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;
}
.menu-top-header__item {
}
.menu-top-header__link {
  
}
@media (any-hover: hover) {
	.menu-top-header__link:hover {
	color: #FFBC57;
  transition: all 0.2s;
	}
}
.top-header__action {
  align-items: center;
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;
}
.top-header__social {
}
.social-top-header {
  align-items: center;
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 10px;
}
.social-top-header__lebel {
}
.social-top-header__list {
  display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.social-top-header__item {
}
.social-top-header__item img{
  width: 18px;
}
.social-top-header__link {
  border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s;
}
@media (any-hover: hover) {
	.social-top-header__link:hover {
		opacity: 0.6;
	}
}
.social-top-header__link--whatsapp {
  background-color: #75b73b;
}
.social-top-header__link--telegram {
  background-color: #40b3e0;
}
.social-top-header__link--viber {
	background-color: #6f3faa;
}
.top-header__lang {
}
.lang-top-header {
	cursor: pointer;
	position: relative;
}
@media (any-hover: hover) {
	.lang-top-header:hover .lang-top-header__list {
		top: 100%;
		opacity: 1;
		pointer-events: all;
	}
}
.lang-top-header__lebel {
	font-weight: 600;
	font-size: 19px;
	display: flex;
	align-items: center;
	gap: 6px;
}
.lang-top-header__lebel::after {
	content: "";
	flex-shrink: 0;
	width: 12px;
	height: 8px;
	background: url("../img/arrow.svg") 0 0 / 100% no-repeat;
}
.lang-top-header__list {
  pointer-events: none;
	position: absolute;
	top: 120%;
	background-color: #FFBC57;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 10px;
	opacity: 0;
	transition: all 0.3s;
}
.lang-menu-top-header__item {
}
.lang-top-header__item:not(:last-child) {
	margin-bottom: 5px;
}
.lang-top-header__link {
}
@media (any-hover: hover) {
	.lang-top-header__link:hover {
		text-decoration: underline;
	}
}

/*Середня частина header*/

.header__midle-menu {
  border-bottom: 2px solid #F8F8F8;
  background-color: #fff;
}
.midle-menu {
  padding: 25px 0px;
}
.midle-menu__container {
}
.midle-menu__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0px;
  gap: 10px 20px;
  flex-wrap: wrap;
}
.midle-menu__logo {
  margin-right: 5px;
  width: 250px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
}
.midle-menu__logo img{
  width: 250px;
}
.menu-icon {
  display: none;
}

.midle-menu__button {
}
.button {
}
.button__link {
  padding: 11px 20px;
  border-radius: 8px;
  background-color: #ffbc57;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26;
  color: #fff;
  transition: all 0.3s;
  display: inline-flex;
}
.button__link span::before{
  content: "";
  background: url(../img/menu-catalog.svg) 0 0 /24px 24px no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: top;
  margin: 0px 10px 0px;
}
@media (any-hover:hover){
  .button__link:hover span::before{
    content: "";
    transform: rotate(360deg);
    transition: all 0.5s;
  }
}
.midle-menu__search {
  z-index: 2;
  position: relative;
}
.search-midle-menu {
  position: relative;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  flex-grow: 1;
}
.search-midle-menu__input {
  height: 50px;
  padding-left: 15px;
  padding-right: 50px;
}
.search-midle-menu__button {
  background: url(../img/poisk.svg) center no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.midle-menu__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.phone {
  position: relative;
}

.phone__icon {
 
}
.phone__icon {
  width: 50px;
}
.phone__content {
}
.phone__time {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}
.phone__namber {
  color: #2B2929;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  transition: 0.3s;
}
.phone__list {
  pointer-events: none;
  position: absolute;
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  transition: all 0.3s;
  opacity: 0;
  border-radius: 8px;
}
@media (any-hover:hover){
  .phone:hover .phone__list{
    top: 100%;
    opacity: 1;
    pointer-events: all;
  }
  .phone__link:hover {
    text-decoration: underline;
  }
}
.phone__item:not(:last-child) {
  margin-bottom: 5px;
}
.phone__link {
}
.phone__arrow {
}
.midle-menu__saved {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.midle-menu__saved img{
  width: 50px;
}
.midle-menu__selected,
.midle-menu__basket{
  border-radius: 50%;
  transition: all 0.3s;
}
@media (any-hover:hover){
  .midle-menu__selected:hover,
  .midle-menu__basket:hover{
   background-color: #ffbc57;
   transition: all 0.3s;
  }
}

/*Нижня частина header*/

.header__bootom-menu {
  background-color: #fff;
}
.bootom-menu {
  padding-top: 18px;
	padding-bottom: 18px;
}
.bootom-menu__container {
  display: flex;
	column-gap: 20px;
	row-gap: 10px;
	justify-content: space-between;
	align-items: center;
}
.bootom-menu__sections {
}
.sections-menu {
}
.sections-menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 5px;
}
.sections-menu__item {
}
.sections-menu__link {
  font-weight: 600;
  padding-left: 29px;
  line-height: 24px;
}
@media (any-hover:hover){
  .sections-menu__link:hover{
    color: #FFBC57;
    transition: all 0.1s;
  }
}
.sections-menu__link--star {
  background: url(../img/akcii.svg) left / 24px no-repeat;
}
.sections-menu__link--sale {
  background: url(../img/sale.svg) left / 24px no-repeat;
}
.sections-menu__link--part {
  background: url(../img/credit.svg) left / 24px no-repeat;
}
.bootom-menu__use {
}
.use-menu {
}
.use-menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 5px;
  justify-content: flex-end;
}
.use-menu__item {
}
.use-menu__link {
  font-weight: 600;
  line-height: 24px;
}
@media (any-hover:hover){
  .use-menu__link:hover{
    color: #FFBC57;
    transition: all 0.1s;
  }
}
/*Основна частина сайту*/
.page {
 
}
.popular-products {
}
.popular-products--pading {
  padding-top: 250px;
  margin-bottom: 40px;
}
.popular-products__container {
}
.popular-products__title {
  margin-bottom: 40px;
}
.title {
  font-size: 40px;
  line-height: 1.2;
  color: #2B2929;
  font-weight: 600;
}
.title--link {
  display: flex;
  gap: 30px;
  align-items: center;
  
}
.title__link {
  color: #FFBC57;
  font-size: 19px;
  line-height: 1.26;
  transition: 0.3s;
}
.title__link::after{
  background: url(../img/popular-arrow.svg) 0 5px / 24px 24px no-repeat;
  content: "";
  width: 24px;
  height: 24px;
}
.popular-products__box {
}
.popular-products__items {
}
.popular-products__item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px;
  justify-content: center;
}
.item-popular-products {
}
.item-popular-products__card {
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #E3E2E2;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  flex-basis: 300px;
  flex-shrink: 0;
  overflow: clip;
  justify-content: space-between;
  transition: 0.3s;
}
@media (any-hover: hover) {
  .card:hover {
      box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.4);
  }
}
.card__image {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}
.card__image img{
  aspect-ratio: 260 / 220;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}
.card__size {
  color: #535353;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}
.card__name {
  font-size: 19px;
  line-height: 1.26;
  flex-basis: 52px;
  
}
.card__in-stock {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
}
.card__in-stock span::before {
  content: "";
  background: url(../img/check.svg) 0 0 / 24px 24px no-repeat;
  vertical-align: top;
  margin: 0px 5px 0px 0px;
  width: 24px;
  height: 24px;
}
.card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.card__price {
  font-size: 20px;
  line-height: 1.4;
  margin: 0px 0px 0px 0px;
}

.card__price--sale {
}
.card__price--sale span {
  display: block;
  color: #E03D3D;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46;
  text-decoration: line-through;
}
.card__icons {
  display: flex;
  gap: 10px;
}
.style{
  padding-bottom: 40px;
}
.style__background{
  background-color: #f0f0f0;
  border-radius: 40px 40px 40px 40px;
  padding: 70px 64px 76px 64px;
}
.style__title{
  font-family: "Integral CF";
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  color: #000;
  margin-bottom: 64px;
}

.style__grid {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  grid-auto-rows: 289px;
  gap: 20px;
}
.style__item {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .style__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}
.style__sub-title{
  position: absolute;
  top: 25px;
  left: 36px;
  font-family: "Satoshi";
  font-size: 36px;
  color: #000

}

.style__item:nth-child(2) {
  grid-column: span 2;
}
.style__item:nth-child(3) {
  grid-column: span 2;
}
.style__item:nth-child(6) {
  grid-column: span 2;
}
.style__item:nth-child(7) {
  grid-column: span 2;
}
.style__item:nth-child(10) {
  grid-column: span 2;
}
.style__image {
  aspect-ratio: 407 / 289;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  background-color: #2a2929;
}
.footer__container p {
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  line-height: 1.46;
  color: #fff;
}




@media (max-width: 1170px) {
  .top-header__container{
    column-gap: 10px;
  }
  .social-top-header__lebel {
    display: none;
  }
  .lang-top-header__lebel {
		column-gap: 20px;
	}
	.midle-menu__logo {
		width: 170px;
	}
	.button__link span::before {
		display: none;
	}
  .sections-menu__list,
  .use-menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
  }
  
}
@media (max-width: 991.98px){
	.social-top-header__label {
		display: none;
	}
	.menu-icon {
		display: block;
		position: relative;
		height: 18px;
		width: 30px;
		flex-shrink: 0;
		z-index: 2;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #000;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 50%;
		transform: translate(0px, -50%);
	}
  .midle-menu__items{
    column-gap: 10px;
  }
  .menu-open .menu-icon::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .menu-icon::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
	.menu-open .menu-icon span {
		transform: scale(0);
	}

	.header__burger {
		display: block;
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 1;
		overflow: auto;
		padding-top: 194px;
		padding-bottom: 30px;
	}
	.header__burger::before {
		content: "";
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;
		width: 100%;
		height: 164px;
		background-color: #fff;
		z-index: 3;
	}
	.menu-open .header__burger {
		right: 0;
	}
	.menu-open .header__burger::before {
		right: 0;
	}
	.burger-header__container {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.bottom-header__container {
	}
  .menu-top-header__list,
	.sections-menu__list,
	.use-menu__list {
		flex-direction: column;
		row-gap: 25px;
	}
  .menu-top-header__link,
	.sections-menu__link,
	.use-menu__link {
		font-size: 28px;
		font-weight: 600;
	}
  .phone__content{
    display: none;
  }
  .top-header__container {
		flex-direction: column;
		row-gap: 40px;
		align-items: flex-start;
	}
  .midle-menu__button {
		align-self: stretch;
		justify-content: space-between;
	}
  .button__link{
    width: 100%;
  }
  .phone__icon{
    z-index: 2;
  }
  .phone__arrow {
    display: none;
  }
  .midle-menu__saved{
    z-index: 2;
  }
  /* Переноситься в бургер */
	.header-top {
		display: none;
	}
  .bottom-header,
	.midle-menu {
		padding-top: 15px;
		padding-bottom: 15px;
	}
  .midle-menu__button{
    flex-grow: 1;
  }

  .bootom-menu{
    display: none;
  }
   /*Основна частина сайту page*/
 .popular-products--pading{
  padding-top: 100px;
 }
 .style__grid{
  grid-template-columns: 1fr 1fr;
 }
 .style__item:nth-child(2) {
  grid-column: span 1;
}
.style__item:nth-child(3) {
  grid-column: span 1;
}
.style__item:nth-child(6) {
  grid-column: span 1;
}
.style__item:nth-child(7) {
  grid-column: span 1;
}
.style__item:nth-child(10) {
  grid-column: span 1;
}
}
@media (max-width: 767.98px) {
	.midle-menu__logo {
		width: 105px;
	}
	.midle-menu__logo img {
		width: 150px;
	}
  .title__link{
    display: none;
  }
  .style__grid{
    grid-template-columns: 1fr;
   }
}
@media (max-width: 609.98px){
  .popular-products--pading{
    padding-top: 150px;
}
 }
@media (max-width: 389.98px){
  .popular-products--pading{
    padding-top: 200px;
    text-align: center;
  }
  .title{
    font-size: 20px;
  }
  .popular-products__title{
    margin-bottom: 20px;
  }

 }