@use "sass:math";

/* Підключаємо  локальні шрифти*/
@import "_fonts.scss";

/* Підключаємо  css  файл скидання стилів*/
@import "_reset.scss";
//Міксини
@import "_mixins";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1290;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  background-color: #ffffff;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: toRem($containerWidth);
  padding-left: toRem(15);
  padding-right: toRem(15);
  margin: 0 auto;
}
.header {
  background-color: rgba(30, 40, 50, 0.05);
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  // .header__background

  &__background {
    background-color: #f4f4f5;
  }

  // .header__container

  &__container {
  }

  // .header__top

  &__top {
  }

  // .header__menu

  &__menu {
    .menu-open & {
      right: 0;
      opacity: 1;
      visibility: visible;
      transition: all 0.4s;
    }
    @media (max-width: toEm(991.98)) {
      position: fixed;
      top: 0;
      right: 0;
      z-index: -5;
      width: 50vw;
      height: 100vh;
      overflow-y: scroll;
      background-color: rgba(255, 255, 255, 0.85);
      visibility: hidden;
    }
    @media (max-width: toEm(540.98)) {
      width: 100vw;
    }
  }
}
.top-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  column-gap: toRem(20);
  padding-top: toRem(35);
  padding-bottom: toRem(32);
  border-bottom: toRem(1) solid #e3e3e3;
  position: relative;
  z-index: 50;

  // .top-header__search

  &__search {
    align-self: center;
    width: toRem(20);
    height: toRem(19);
  }

  // .top-header__button

  &__button {
  }

  // .top-header__icon

  &__icon {
    width: 100%;
  }

  // .top-header__logo

  &__logo {
  }

  // .top-header__account

  &__account {
  }
}
.logo {
  // .logo__link

  &__link {
  }

  // .logo__img

  &__img {
  }
}
.account {
  display: flex;
  gap: toRem(22);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: toRem(18);
  color: #1e2832;
  @media (max-width: toEm(991.98)) {
    align-items: center;
  }
  // .account__account

  &__account {
    align-items: center;
    display: flex;
    align-items: center;
    gap: toRem(8);
    align-items: center;
    @media (max-width: toEm(991.98)) {
      position: relative;
      z-index: 20;
      align-self: center;
    }

    span {
      @media (max-width: toEm(991.98)) {
        display: none;
      }
      text-transform: capitalize;
      @media (any-hover: hover) {
        &:hover {
          color: #ff6f61;
          transition: all 0.3s;
        }
      }
    }
  }
}
.menu {
  padding-top: toRem(30);
  padding-bottom: toRem(10);
  @media (max-width: toEm(991.98)) {
    padding: toRem(110) toRem(15) toRem(30) toRem(15);
  }
  // .menu__nav

  &__nav {
    @media (max-width: toEm(991.98)) {
      height: 100%;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    line-height: toRem(24);
    letter-spacing: 0;
    @media (max-width: toEm(991.98)) {
      display: flex;
      flex-direction: column;
      gap: toRem(40);
    }
  }

  // .menu__item

  &__item {
    @media (max-width: toEm(991.98)) {
      align-self: flex-end;
      &:first-child {
        padding-top: toRem(20);
      }
    }
  }

  // .menu__link

  &__link {
    transition: all 0.3s;
    @media (max-width: toEm(991.98)) {
      font-weight: 600;
      font-size: toRem(24);
    }
    @media (any-hover: hover) {
      &:hover {
        color: #ff6f61;
        transition: all 0.3s;
      }
    }
  }

  // .menu__button

  &__button {
  }
}
.menu-icon {
  display: none;
  @media (max-width: toEm(991.98)) {
    display: block;
    position: relative;
    height: 18px;
    width: 30px;
    flex-shrink: 0;
    z-index: 90;
    &::before,
    &::after,
    & span {
      content: "";
      height: toRem(2);
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      background-color: black;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: translate(0px, -50%);
    }
    .menu-open & {
      &::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
      }
      &::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
      }
      span {
        transform: scale(0);
      }
    }
  }
}
.page {
  // .page__background

  &__background {
    position: relative;
    background-color: #f4f4f5;
    margin-bottom: toRem(90);
    &::after {
      content: "";
      background: url("../img/page-vector-right.svg") right / cover no-repeat;
      position: absolute;
      right: 0;
      bottom: toRem(156);
      width: toRem(195);
      height: toRem(310);
    }
    &::before {
      content: "";
      background: url("../img/page-vector-left.svg") left / cover no-repeat;
      position: absolute;
      left: 0;
      bottom: toRem(108);
      width: toRem(132);
      height: toRem(66);
    }
  }

  // .page__container

  &__container {
  }

  // .page__product

  &__product {
  }
}
.product {
  padding-top: toRem(81);
  padding-bottom: toRem(60);
  display: flex;
  column-gap: toRem(50);
  // .product__contant

  &__contant {
    flex: 0 1 toRem(686);
    padding-top: toRem(69);
    @media (max-width: toEm(767.98)) {
      padding-top: toRem(5);
    }
    *:not(:last-child) {
      margin-bottom: toRem(52);
      @media (max-width: toEm(767.98)) {
        margin-bottom: toRem(12);
      }
    }

    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
  }

  // .product__title

  &__title {
    font-weight: 300;
    line-height: toRem(55);
    font-size: toRem(74);

    @media (max-width: toEm(767.98)) {
      font-size: toRem(54);
      text-align: center;
    }
  }

  // .product__text

  &__text {
    font-weight: 400;
    font-size: toRem(30);
    line-height: toRem(55);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(24);
      text-align: center;
    }
  }

  // .product__button

  &__button {
    font-weight: 400;
    color: #fff;
    font-size: toRem(29);
    background-color: #1e2832;
    padding: toRem(19) toRem(26);
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #ff6f61;
        transition: all 0.3s;
      }
    }
    &::before {
      background: url("../img/button-product.svg") 0 0 no-repeat;
      content: "";
      width: toRem(24);
      height: toRem(24);
      display: inline-block;
      margin-right: toRem(5);
    }
  }

  // .product__image

  &__image {
  }
}
.image {
  position: relative;
  padding-right: toRem(110);
  z-index: 1;
  flex: 0 0 toRem(442);
  align-self: center;

  &::after {
    content: "";
    width: 75%;
    height: 100%;
    border-radius: toRem(160) 0 toRem(160) 0;
    position: absolute;
    top: toRem(15);
    left: toRem(13);
    z-index: 2;
    border: toRem(2) solid rgba(0, 0, 0, 0.25);
  }

  @media (max-width: toEm(767.98)) {
    display: none;
  }
  // .image__img

  &__img {
    width: 100%;
    max-height: toRem(562);
    position: relative;
    object-fit: cover;
    aspect-ratio: 424 / 542;
    border-radius: toRem(160) 0 toRem(160) 0;
    z-index: 5;
    object-position: center;
  }

  // .image__backround
}
.brand {
  margin-bottom: toRem(90);
  // .brand__container

  &__container {
  }
  &__title {
    display: none;
  }

  // .brand__list

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(20);
    @media (max-width: toEm(991.98)) {
      flex-wrap: wrap;
      gap: toRem(20);
      justify-content: center;
    }
  }

  // .brand__item

  &__item {
    flex: 0 1 toRem(200);
  }

  // .brand__link

  &__link {
    width: 100%;
    height: 100%;
    @media (any-hover: hover) {
      &:hover {
        color: #ff6f61;
        transition: all 0.3s;
      }
    }
  }

  // .brand__img

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 200 / 70;
  }
}
.hot-category {
  margin-bottom: toRem(140);
  // .hot-category__container

  &__container {
    display: flex;
    justify-content: center;
    gap: toRem(10);
  }

  // .hot-category__title

  &__title {
    padding: toRem(25) 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: toRem(34);
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    @media (max-width: toEm(1199.98)) {
      display: none;
    }
  }

  // .hot-category__popular

  &__popular {
  }
}
.popular-container {
  display: grid;
  gap: toRem(24);
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  @media (max-width: toEm(1199.98)) {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }
  @media (max-width: toEm(767.98)) {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }

  // .popular-container__item

  &__item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
    &:first-child {
      grid-column: span 2;
      grid-row: span 2;
      @media (max-width: toEm(998.98)) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }

    @media (any-hover: hover) {
      &:hover .submenu-products {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
        z-index: 2;
      }
      &:hover .popular-container__image {
        transform: scale(1.1);
        transition: all 0.5s;
      }
    }
  }

  // .popular-container__labels

  &__labels {
    position: absolute;
    top: toRem(22);
    left: 0;
    z-index: 10;
  }

  // .popular-container__submenu

  &__submenu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  // .popular-container__image

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: all 0.3s;
  }
}

.labels-product {
  display: flex;
  flex-direction: column;

  & *:not(:last-child) {
    margin-bottom: toRem(10);
  }
  * {
    padding: toRem(6) toRem(10) toRem(6) toRem(15);
    font-size: toRem(12);
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
  }
}
.labels-product__red {
  background-color: #ff6f61;
}
.labels-product__black {
  background-color: #1e2832;
}

.submenu-products {
  @media (any-hover: none) {
    & {
      visibility: visible;
      opacity: 1;
    }
  }
  background-color: #1e2832;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  padding: toRem(15) toRem(14);
  // .submenu-products__contant

  &__contant {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
  }

  // .submenu-products__left

  &__left {
    align-self: center;
    display: flex;
    gap: toRem(21);
  }

  // .submenu-products__right

  &__right {
    align-items: center;
    display: flex;
    gap: toRem(2);
    text-transform: capitalize;
  }
}
.labels-product--white {
  padding: toRem(6) toRem(15) toRem(6) toRem(15);
  background-color: hsl(0, 0%, 100%);
  color: #000;
}
.section-products {
  margin-bottom: toRem(140);
  // .section-products__container

  &__container {
  }

  // .section-products__title

  &__title {
    margin-bottom: toRem(35);
  }

  // .section-products__menu

  &__menu {
  }

  // .section-products__grid

  &__grid {
  }
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: toRem(50);
  text-transform: capitalize;
  text-align: center;
}
.menu-products {
  display: flex;
  justify-content: space-between;
  column-gap: toRem(20);
  font-family: "OpenSans", sans-serif;
  margin-bottom: toRem(35);
  // .menu-products__list

  &__list {
    display: flex;
    column-gap: toRem(40.33);
    flex-wrap: wrap;
    @media (max-width: toEm(991.98)) {
      gap: toRem(10);
    }
  }

  // .menu-products__item

  &__item {
    font-weight: 600;
    text-transform: capitalize;
    color: #808080;
    transition: all 0.3s;
    &:first-child {
      color: #000;
    }
  }

  // .menu-products__link

  &__link {
    @media (any-hover: hover) {
      &:hover {
        color: #ff6f61;
        transition: all 0.3s;
      }
    }
  }

  // .menu-products__button

  &__button {
  }
}
.button-products {
  font-weight: 400;
  padding: toRem(10) toRem(15);
  background-color: #1e2832;
  text-transform: capitalize;
  color: #fff;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #ff6f61;
      transition: all 0.3s;
    }
  }
  // .button-products__icon

  &__icon {
  }
}
.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: toRem(24);
  @media (max-width: toEm(991.98)) {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  }
  @media (max-width: toEm(645.98)) {
    justify-items: center;
  }
  // .grid-products__submenu
  &__submenu {
    position: absolute;
    bottom: 13%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
  }

  // .grid-products__item

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (any-hover: hover) {
      &:hover .submenu-products {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
        z-index: 2;
      }
      &:hover .image-products__img {
        transform: scale(1.1);
        transition: all 0.3s;
      }
    }
  }

  // .grid-products__labels

  &__labels {
    position: absolute;
    top: toRem(22);
    left: toRem(0);
    z-index: 2;
  }

  // .grid-products__image

  &__image {
    position: relative;
    overflow: hidden;
  }

  // .grid-products__name

  &__name {
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    padding: toRem(18) toRem(10) toRem(16) toRem(10);
  }

  // .grid-products__contant

  &__contant {
  }
}
.image-products {
  // .image-products__wrap
  width: 100%;
  height: toRem(400);

  // .image-products__img

  &__img {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 312 / 400;
  }

  // .image-products__submenu

  &__submenu {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
  }
}
.contant-products {
  display: flex;
  justify-content: space-between;
  gap: toRem(20);
  padding: 0 toRem(10);
  // .contant-products__type

  &__type {
    color: #808080;
  }

  // .contant-products__price

  &__price {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(12);
  }

  // .contant-products__old-price

  &__old-price {
    font-size: toRem(14);
    align-self: center;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
    font-size: toRem(14);
  }

  // .contant-products__current-price

  &__current-price {
    font-weight: 600;
    text-transform: capitalize;
    color: #ff6f61;
    font-size: toRem(16);
  }
}
.brand-banner {
  margin-bottom: toRem(236);
  background: url("../img/background.jpg") 0 0 / cover no-repeat;
  // .brand-banner__container

  &__container {
    display: flex;
    justify-content: flex-end;
    @media (max-width: toEm(1199.98)) {
      margin-bottom: toRem(56);
    }
  }

  // .brand-banner__contant

  &__contant {
    flex-basis: toRem(504);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: toRem(233) 0 toRem(93) toRem(0);
    position: relative;

    *:not(:last-child) {
      margin-bottom: toRem(55);
    }
    @media (max-width: toEm(1199.98)) {
      margin-bottom: toRem(56);
    }
    @media (max-width: toEm(767.98)) {
    }
  }
}
.contant-banner {
  // .contant-banner__title

  &__title {
    &::before {
      content: "";
      background: url("../img/contant-banner__title2.webp") 0 0 / contain
        no-repeat;
      position: absolute;
      right: toRem(-380);
      top: toRem(51);
      height: toRem(309);
      width: toRem(723);
      @media (max-width: toEm(1199.98)) {
        display: none;
      }
    }
  }

  // .contant-banner__text

  &__text {
    text-transform: capitalize;
    line-height: toRem(40);
    font-size: toRem(26);
    color: #fff;
  }

  // .contant-banner__button

  &__button {
    color: #1e2832;
    font-size: toRem(29);
    padding: toRem(19) toRem(26) toRem(19) toRem(64);
    background-color: #fff;
    text-transform: capitalize;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #ff6f61;
        transition: all 0.3s;
      }
    }
  }
}
.slider-products {
  margin-bottom: toRem(140);

  // .slider-products__container

  &__container {
  }

  // .slider-products__title

  &__title {
    margin-bottom: toRem(35);
  }

  // .slider-products__menu

  &__menu {
  }

  // .slider-products__button

  &__button {
  }

  // .slider-products__grid

  &__grid {
  }
}
.newsletter-instagram {
  background-color: #f4f4f5;
  padding-top: toRem(100);
  margin-bottom: toRem(100);

  // .newsletter-instagram__container

  &__container {
  }

  // .newsletter-instagram__title

  &__title {
    margin-bottom: toRem(60);
  }

  // .newsletter-instagram__cards

  &__cards {
  }

  // .newsletter-instagram__form

  &__form {
    padding-top: toRem(70);
    width: 60%;
    margin: 0 auto;
  }
}
.cards-instagram {
  display: flex;
  gap: toRem(24);
  justify-content: center;
  @media (max-width: toEm(991.98)) {
    flex-wrap: wrap;
  }
  // .cards-instagram__image
  &__item {
    align-self: center;
    flex: 0 0 toRem(200);
  }
  //.cards-instagram__image
  &__link {
  }
  // .cards-instagram__image

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 200 / 200;
  }
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  row-gap: toRem(70);
  // .newsletter-form__title

  &__title {
  }

  // .newsletter-form__controlis

  &__controlis {
    display: flex;
    align-items: center;
    gap: toRem(26);
    color: #1e2832;
  }

  // .newsletter-form__input

  &__input {
    flex-grow: 1;
    padding: 0 toRem(15) toRem(13);
    border-bottom: toRem(2) solid #1e2832;
    color: #1e2832;
  }

  // .newsletter-form__btn

  &__btn {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    padding: 0 toRem(16) toRem(10);
    border-bottom: toRem(2) solid #1e2832;
    transition: all 0.3s;
  }
}
.footer {
  // .footer__container

  &__container {
  }

  // .footer__top

  &__top {
    padding: toRem(140) 0 toRem(90) 0;
    @media (max-width: toEm(991.98)) {
      padding: toRem(30) 0 toRem(20) 0;
    }
  }

  // .footer__bottom

  &__bottom {
  }
}
.top-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: toRem(136);
  @media (max-width: toEm(991.98)) {
    gap: toRem(20);
  }
  // .top-footer__contacts

  &__contacts {
    flex: 0 1 toRem(390);
    align-self: flex-start;
    *:not(:last-child) {
      margin-bottom: toRem(32);
    }
  }

  // .top-footer__catalog-list

  &__catalog-list,
  &__about-list,
  &__services-list {
    *:not(:last-child) {
      margin-bottom: toRem(12);
    }
    li:first-child {
      font-size: toRem(16);
      color: #000;
      font-weight: 600;
      padding-bottom: toRem(10);
    }
  }

  // .top-footer__catalog-item

  &__catalog-item,
  &__about-item,
  &__services-item {
    color: #1e2832;
    font-size: toRem(14);
    font-weight: 400;
    line-height: toRem(24);
  }

  // .top-footer__catalog-link

  &__catalog-link,
  &__about-link,
  &__services-link {
    @media (any-hover: hover) {
      &:hover {
        color: #ff6f61;
        transition: all 0.3s;
      }
    }
  }

  // .top-footer__about-list

  &__about-list {
  }

  // .top-footer__about-item

  &__about-item {
  }

  // .top-footer__about-link

  &__about-link {
  }

  // .top-footer__services-list

  &__services-list {
  }

  // .top-footer__services-item

  &__services-item {
  }

  // .top-footer__services-link

  &__services-link {
  }
}
.contacts {
  // .contacts__logo

  &__logo {
  }

  // .contacts__text

  &__text {
    color: #1e2832;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: normal;
  }

  // .contacts__social-list

  &__social-list {
    display: flex;
    column-gap: toRem(38.5);
  }

  // .contacts__social-item

  &__social-item {
  }

  // .contacts__social-link

  &__social-link {
  }
}
.bottom-footer {
  background-color: #1e2832;
  // .bottom-footer__container

  &__container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: toRem(20);
    @media (max-width: toEm(991.98)) {
      justify-content: center;
    }
  }

  // .bottom-footer__text

  &__text,
  &__cards,
  &__button {
    padding: toRem(15) 0;
    color: #fff;
  }

  // .bottom-footer__cards

  &__cards {
  }

  // .bottom-footer__button

  &__button {
  }
}
