@use "sass:math";

/* Підключаємо  локальні шрифти*/
@import "_fonts.scss";

/* Підключаємо  css  файл скидання стилів*/
@import "_reset.scss";
//Міксини
@import "_mixins";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1302;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================
body {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  background-color: #000;
  color: #fff;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: toRem(1302);
  padding-left: toRem(15);
  padding-right: toRem(15);
  margin: 0 auto;
}
.header {
  padding: toRem(60) 0 toRem(30) 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  @media (max-width: toEm(991.98)) {
    padding: toRem(40) 0 toRem(30) 0;
  }
  // .header__container

  &__container {
  }

  // .header__menu

  &__menu {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(20);
  }
}
.menu-header {
  // .menu-header__logo

  &__logo {
    padding: toRem(10);
    @media (max-width: toEm(479.98)) {
      flex-basis: 155px;
      &__img {
        width: 100%;
      }
    }
  }

  // .menu-header__image

  &__image {
  }

  // .menu-header__nav

  &__nav {
    @media (max-width: toEm(991.98)) {
      position: fixed;
      top: 0;
      right: 0;
      width: 55%;
      height: 100%;
      visibility: hidden;
      padding: toRem(110) toRem(20) toRem(30);
      overflow-y: auto;
      transition: all 0.4s;
      background-color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(toRem(10));
      opacity: 1;
      z-index: 10;
      display: flex;
      flex-direction: column;
      gap: toRem(40);
    }
  }

  // .menu-header__list

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(60);
    row-gap: toRem(10);
    height: 100%;
    align-items: center;
    @media (max-width: toEm(1199.98)) {
      column-gap: toRem(10);
    }
    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      row-gap: toRem(40);
      height: 50%;
    }
  }

  // .menu-header__item

  &__item {
    @media (max-width: toEm(991.98)) {
      width: 100%;
    }
  }

  // .menu-header__link

  &__link {
    padding: toRem(10);
    line-height: toRem(20);
    text-transform: uppercase;
    line-height: toRem(20);
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transition: all 0.3s;
        background-color: #6f00a9;
      }
    }
    @media (max-width: toEm(991.98)) {
      width: 100%;
      text-align: right;
      font-size: toRem(24);
    }
  }

  // .menu-header__social

  &__social {
  }

  // .menu-header__button

  &__button {
  }
}
.social {
  @media (max-width: toEm(991.98)) {
    z-index: 10;
    display: flex;
    justify-content: center;
  }
  // .social__list

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(19);
    @media (max-width: toEm(1199.98)) {
      column-gap: toRem(5);
    }
  }

  // .social__item

  &__item {
    padding: toRem(10);
  }

  // .social__link

  &__link {
    width: toRem(20);
    height: toRem(20);
    transition: all 0.3s;
  }

  // .social__image

  &__image {
  }
}
.menu-icon {
  @media (max-width: toEm(991.98)) {
    display: block;
    position: relative;
    height: 18px;
    width: 30px;
    flex-shrink: 0;
    z-index: 50;
    &::before,
    &::after,
    & span {
      content: "";
      height: toRem(2);
      width: 100%;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: translate(0px, -50%);
    }
    .menu-open & {
      &::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
      }
      &::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
      }
      span {
        transform: scale(0);
      }
    }
  }
}
.menu-open .menu-header__nav {
  right: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}
.page {
  padding-top: toRem(120);
}
.hero {
  // .hero__container

  &__container {
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 480px;
      height: 480px;
      background: linear-gradient(
        90deg,
        hsla(276, 100%, 50%, 0.6) 0%,
        hsla(104, 100%, 55%, 0.6) 36.9%,
        hsla(0, 100%, 50%, 0.6) 67.4%,
        hsla(227, 100%, 50%, 0.6) 100%
      );
      opacity: 0.3;
      filter: blur(toRem(40));
      @media (max-width: toEm(767.98)) {
        display: none;
      }
    }
    &::before {
      animation: circular-motion-bottom 15s linear infinite;
      @keyframes circular-motion-bottom {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-300%, 50%);
        }
        100% {
          transform: translate(300%, 0%);
        }
      }
    }
    &::after {
      animation: circular-motion-top 15s linear infinite;
      @keyframes circular-motion-top {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(300%, -50%);
        }
        100% {
          transform: translate(-300%, 0%);
        }
      }
    }
  }

  // .hero__wrap

  &__wrap {
    display: flex;
    column-gap: toRem(20);
    justify-content: space-between;
  }

  // .hero__content

  &__content {
    flex: 1 1 50%;
  }

  // .hero__contant-media

  &__contant-media {
    flex: 1 1 50%;
    position: relative;
  }
}
.hero--margin {
  padding-top: toRem(120);
  overflow: hidden;
  position: relative;
  z-index: 10;
  @media (max-width: toEm(767.98)) {
    padding-top: toRem(50);
    padding-bottom: 10px;
  }
  @media (max-width: toEm(479.98)) {
    padding-top: toRem(23);
  }
}
.content-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: toRem(20);
  @media (max-width: toEm(479.98)) {
    gap: toRem(12);
  }
  // .content-hero__name

  &__name {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: toRem(18);
    line-height: toRem(20);
    letter-spacing: toRem(-1);
    &::after {
      content: "";
      display: block;
      margin-top: toRem(10);
      height: toRem(1);
      max-width: toRem(152);
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(66, 255, 0, 1) 51%,
        rgba(36, 0, 255, 1) 100%
      );
    }
  }

  // .content-hero__title

  &__title {
    @include adaptiveValue("font-size", 80, 32);
  }

  // .content-hero__subtitle

  &__subtitle {
  }

  // .content-hero__button

  &__button {
    cursor: pointer;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #0b0045;
        transition: all 0.3s;
      }
    }
  }
}
.title {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  line-height: toRem(70);
  text-transform: uppercase;
  @media (max-width: toEm(479.98)) {
    line-height: toRem(35);
  }
}
.subtitle {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  line-height: toRem(40);
  letter-spacing: toRem(-1);
  text-transform: capitalize;
  @include adaptiveValue("font-size", 18, 14);
}
.button {
  position: relative;
  z-index: 2;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  line-height: toRem(20);
  text-transform: uppercase;
  padding: toRem(15) toRem(60);
  background-color: #6f00a9;
  max-width: toRem(253);
  @include adaptiveValue("font-size", 20, 14);
}
.media {
  display: flex;
  justify-content: center;
  // .media__photo-people

  &__photo-people {
    position: relative;
    z-index: 2;
    img {
      object-fit: cover;
      aspect-ratio: 377 / 508;

      @media (max-width: toEm(479.98)) {
        height: toRem(260);
        width: toRem(177);
      }
    }
  }

  // .media__img-right

  &__img-right {
    position: absolute;
    right: 15%;
    top: 15%;
    width: toRem(114);
    height: toRem(108);
    @media (max-width: toEm(767.98)) {
      top: 5%;
      width: toRem(84);
      height: toRem(82);
    }
    @media (max-width: toEm(479.98)) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .media__img-left

  &__img-left {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 27.3%;
    @media (max-width: toEm(767.98)) {
      left: 10%;
      top: 5%;
    }
    @media (max-width: toEm(479.98)) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .media__curent-left

  &__curent-left {
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 20%;
    height: toRem(353);
    width: toRem(315);
    @media (max-width: toEm(767.98)) {
      width: toRem(275);
      height: toRem(313);
    }
    @media (max-width: toEm(479.98)) {
      top: 10%;
      left: -15%;
      width: toRem(205);
      height: toRem(213);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .media__curent-right

  &__curent-right {
    z-index: 1;
    position: absolute;
    bottom: -5%;
    right: -10%;
    width: toRem(321);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media (max-width: toEm(767.98)) {
      & {
        display: none;
      }
    }
  }
}
.about {
  background: url(../img/About.png) 0 0 / cover no-repeat;
  padding-top: toRem(130);
  padding-bottom: toRem(120);
  @media (max-width: toEm(1199.98)) {
    padding-top: toRem(50);
  }
  @media (max-width: toEm(479.98)) {
    padding-bottom: toRem(70);
  }
  // .about__container

  &__container {
    overflow: hidden;
  }
  &__adaptiv {
    display: none;
    @media (max-width: toEm(767.98)) {
      width: 50%;
      display: block;
      margin: 0 auto;
      margin-bottom: toRem(20);
    }
    @media (max-width: toEm(479.98)) {
      width: 50%;
      display: block;
      margin: 0 auto;
      margin-bottom: toRem(20);
    }
  }

  // .about__title

  &__title {
    text-align: center;
    margin-bottom: toRem(20);
    @include adaptiveValue("font-size", 60, 24);
    &::after {
      content: "";
      width: 40%;
      margin: 0 auto;
      margin-top: toRem(20);
      height: toRem(1);
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(66, 255, 0, 1) 51%,
        rgba(36, 0, 255, 1) 100%
      );
      display: block;
    }
  }

  // .about__subtitle

  &__subtitle {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: toRem(60);
    line-height: toRem(40);
    font-weight: 400;
    font-family: "Exo", sans-serif;
    @include adaptiveValue("font-size", 18, 14);
    @media (max-width: toEm(479.98)) {
      margin-bottom: toRem(20);
    }
  }

  // .about__nav

  &__nav {
    @media (max-width: toEm(991.98)) {
      margin-bottom: toRem(50);
    }
  }
}
.nav-about {
  overflow: hidden;
  // .nav-about__list

  &__list {
    display: flex;
    gap: toRem(60);
    margin: 0 auto;
    justify-content: center;
    animation: movement-to-the-left 10s linear infinite;
    @keyframes movement-to-the-left {
      0% {
        transform: translateX(100%);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  // .nav-about__item

  &__item {
    flex: 1 0 auto;
  }

  // .nav-about__link

  &__link {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    line-height: toRem(25);
    text-transform: capitalize;
    @include adaptiveValue("font-size", 20, 14);
    &::after {
      content: "";
      width: toRem(7);
      height: toRem(7);
      margin-left: toRem(50);
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(66, 255, 0, 1) 51%,
        rgba(36, 0, 255, 1) 100%
      );
      border-radius: 50%;
    }
  }
}
.portfolio {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.99) 85.54%
    ),
    url(../img/portfolio.png) 0 0 / cover no-repeat;
  padding-top: toRem(210);
  padding-bottom: toRem(200);
  @media (max-width: toEm(1199.98)) {
    padding-top: toRem(10);
    padding-bottom: toRem(80);
  }
  // .portfolio__container

  &__container {
  }

  // .portfolio__title

  &__title {
    @include adaptiveValue("font-size", 60, 24);
    &::after {
      content: "";
      width: 40%;
      margin-top: toRem(20);
      height: toRem(1);
      background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(66, 255, 0, 1) 51%,
        rgba(36, 0, 255, 1) 100%
      );
      display: block;
      margin-bottom: toRem(60);
      @media (max-width: toEm(479.98)) {
        margin-bottom: toRem(10);
      }
    }
  }

  // .portfolio__arrow

  &__arrow {
    margin-left: 100%;
    transform: translate(-100%, 0);
    margin-bottom: toRem(30);
    position: relative;
    display: block;
    overflow: hidden;
    width: toRem(203);
    height: toRem(38);
    @media (max-width: toEm(479.98)) {
      width: toRem(103);
      height: toRem(38);
    }
    img {
      animation: arrow-animation 5s linear infinite;
    }
    @keyframes arrow-animation {
      0% {
        transform: translate(-100%, 0);
      }
      50% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(100%, 0);
      }
    }
  }

  // .portfolio__items

  &__items {
    display: flex;
    column-gap: toRem(40);
    overflow-x: auto;
    padding-bottom: toRem(25);
    &::-webkit-scrollbar {
      height: toRem(8);
      background-color: #000;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #6f00a9;
    }
  }

  // .portfolio__item

  &__item {
    flex-shrink: 0;
  }
}
.item-portfolio {
  max-width: toRem(360);
  // .item-portfolio__picture

  &__picture {
    display: block;
    position: relative;
    overflow: hidden;
    outline: none;
    &:not(:last-child) {
      margin-bottom: toRem(40);
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border: toRem(10) solid transparent;
      transition: border-color 0.4s, background-color 0.4s;
    }
    @media (any-hover: hover) {
      &:hover::before {
        background-color: rgba(0, 0, 0, 0.8);
        border-color: #9700ff;
        transition: all 0.3s;
      }
    }
  }

  // .item-portfolio__img

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  // .item-portfolio__icon

  &__icon {
    position: absolute;
    width: 27.77%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: top 0.3s;
    img {
      @media (max-width: toEm(479.98)) {
        width: toRem(80);
        height: toRem(80);
      }
    }
  }

  // .item-portfolio__text

  &__text {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    padding: 0 toRem(15);
    z-index: 2;
    text-align: center;
    font-weight: 700;
    font-size: toRem(40);
    text-transform: uppercase;
    color: transparent;
    transition: top 0.4s, color 0.4s;
  }
  @media (any-hover: hover) {
    &__picture:hover &__text {
      top: 63%;
      color: #ffff;
    }
    &__picture:hover &__icon {
      top: 43%;
      transition: all 0.3s;
    }
  }

  // .item-portfolio__lebel

  &__lebel {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 40, 14);
  }
}
